body {
    background-color: black;
    text-align: center;
}

.header--main {
    font-family: Verdana;
    font-weight: normal;
    color: white;
    font-size: 50px;  

}

.link--dwn {
    font-size: 16px;
    color: aquamarine;

}
.header--two {
    font-family: Verdana;
    font-weight: 300;
    font-size: 42px;
    color: white;
}
h4 {
    font-family: Verdana;
    font-size: 21px;
    color: gray;
}

.footer {
    text-align: right;
    color: gray;
    font-family: verdana;
}